*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gradient-bg-color: linear-gradient(to right bottom, rgba(129, 161, 193, .8), rgba(136, 192, 208, .8));
}

html{
    font-size: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #ECEFF4;
    background-color: #4C566A;
    padding: 0 1.5rem;
   /* The next lines are optional and should be removed in production */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    box-shadow: 2px .8rem 1rem rgba(216, 222, 233, 0.05);
    background-color: #3B4252;
}

.img-data{
    height: 25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.background-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("img/bg.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}

.card:hover .background-img{
    transform: scale(1.5);
}

.publication-details{
    width: 100%;
    height: 100%;
    background: var(--gradient-bg-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: #ECEFF4;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.publication-details i{
    margin-right: 1rem;
}

.author{
    display: inline-block;
    margin-bottom: 0.5rem;
    transition: all .5s;
}

.author:hover{
    color: rgba(255,255,255,1)
}

.date{
    display: block;
}

.post{
    background-color: #3B4252;
    padding: 2rem 3rem;
    position: relative;
}

.title{
    font-size: 3rem;
    line-height: 1;
}

.subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #E5E9F0;
    margin: 1rem 0 1.5rem 0;
}

.content-description{
    position: relative;
}

.content-description::first-letter{
    margin-left: 1rem;
}

.content-description::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 2.5rem;
    background: var(--gradient-bg-color);
    border-radius: 2rem;
}

.cta{
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
}

.cta a{
    background: var(--gradient-bg-color);
    -webkit-background-clip: text;
    color: transparent;
}